<app-navbar></app-navbar>
<body>
      <div class="card" >
          <div><img class="card-img-top1">   </div>
          <div class="card-body">
            <h2>Lorenzo</h2>
            <p class="card-text">
              Lorenzo Morichetti<br>
              110195
              lorenzo.morichetti@studenti.unicam.it
            </p>
          </div>
        </div>
        
        <div class="card" >
          <img  class="card-img-top2" >
          <div class="card-body">
            <h2>Marco</h2>
            <p class="card-text">
              Marco Tarabelli<br>
              110203
              marco.tarabelli@studenti.unicam.it
            </p>
          </div>
        </div>


        <div class="card" >
          <img  class="card-img-top3" >
          <div class="card-body">
            <h2>Davide</h2>
            <p class="card-text">
              Davide Nappo<br>
              110157
              davide.nappo@studenti.unicam.it
            </p>
          </div>
        </div>

        <div class="card" >
          <img  class="card-img-top4" >
          <div class="card-body">
            <h2>Nico</h2>
            <p class="card-text">
              Nico Cola<br>
              110187 <br>
              nico.cola@studenti.unicam.it
            </p>
          </div>
        </div>


  
</body>

<app-footer></app-footer>