<app-navbar></app-navbar>
<body>
   <div>
        <p>Un po di informazioni utili </p>
   </div>
    <iframe class="risultati" src='https://www.tuttocampo.it/WidgetV2/Risultati/233d9b0c-af92-4122-b96a-5b2aea2dbc90' width='500' height='690' scrolling='no' frameborder='0'></iframe>

    <iframe class="classifica" src='https://www.tuttocampo.it/WidgetV2/Classifica/233d9b0c-af92-4122-b96a-5b2aea2dbc90' width='500' height='900' scrolling='no' frameborder='0'></iframe>
   
    <iframe class="marcatori" src='https://www.tuttocampo.it/WidgetV2/Marcatori/233d9b0c-af92-4122-b96a-5b2aea2dbc90' width='500' height='750' scrolling='no' frameborder='0'></iframe>

</body>

<app-footer></app-footer>
