
<body>
  <button class="button-logout" style="color:white" mat-button class="logout-link" (click)="backHome()">
    <label>Iniziamo . . .</label>
  </button>
  
  <div class="titolo">
    <div class="st">
      <div class="st-top">
        <div class="sf-b- sf-b--full"></div>
                     
                        <span class="st-drop sf--f">F</span>
                        <span class="sf--o">o</span>
                        <span class="sf--o">o</span>
                        <span class="sf--t">t</span>
                        <span class="sf--b">b</span>
                        <span class="sf--a">a</span>
                        <span class="sf--l">l</span>
                        <span class="st-drop sf--l-2">l</span>
                      
        <div class="sf-b- sf-b--mini sf-b--left"></div>
        <div class="sf-b- sf-b--mini sf-b--right"></div>
      </div>

      <div class="st-bottom">
        <p>
          <span class="st-things-h">H</span>
          <span class="st-things-o">o</span>
          <span class="st-things-u">u</span>
          <span class="st-things-s">s</span>
          <span class="st-things-e">e</span>
        </p>
      </div>
  
    </div>
  </div>



</body>